<header class="header-container">
    <figure class="logo-container">
        <img class="logo" src="https://placehold.co/100x50" alt="afbeelding van een logo zorginstelling">
    </figure>
    <ul class="menu">
        <li class="menu-item">
            {{menuItems["home"]}}
        </li>
        <li class="menu-item">
            {{menuItems["aboutMe"]}}
        </li>
        <li class="menu-item">
            {{menuItems["treatments"]}}
        </li>
        <li class="menu-item">
            {{menuItems["vacature"]}}
        </li>
        <li class="menu-item">
            {{menuItems["contact"]}}
        </li>
    </ul>
    <i class="fa-solid fa-bars menu-bar"></i>
</header>