<header class="header-container">
    <figure class="logo-container">
        <img class="logo" src="https://placehold.co/100x50" alt="afbeelding van een logo zorginstelling">
    </figure>
    <ul #menu class='menu open'>
        <li class='menu-item'>
            {{menuItems['home']}}
        </li>
        <li class='menu-item'>
            {{menuItems['aboutMe']}}
        </li>
        <li class='menu-item'>
            {{menuItems['treatments']}}
        </li>
        <li class='menu-item'>
            {{menuItems['vacature']}}
        </li>
        <li class='menu-item'>
            {{menuItems['contact']}}
        </li>
    </ul>
    <button class='menu-bar' (click)='openBtn(menu)'>
        <i class='fa-solid fa-bars icon-bar'></i>
    </button>

</header>