<header #header class="header-container add-background">
    <figure class="logo-container">
        <img class="logo" [src]="menuItems['img']['src']" [alt]="menuItems['img']['alt']">
    </figure>
    <ul #menu class='menu open'>
        <li class='menu-item'>
            {{menuItems['home']}}
        </li>
        <li class='menu-item'>
            {{menuItems['aboutMe']}}
        </li>
        <li class='menu-item'>
            {{menuItems['treatments']}}
        </li>
        <li class='menu-item'>
            {{menuItems['vacature']}}
        </li>
        <li class='menu-item'>
            {{menuItems['contact']}}
        </li>
    </ul>
    <button class='menu-bar' (click)='openBtn(menu, header)'>
        <i class='fa-solid fa-bars icon-bar icon'></i>
    </button>

</header>