<header #header class="header-container add-background">
    <figure class="logo-container">
        <img class="logo" [src]="menuItems['img']['src']" [alt]="menuItems['img']['alt']">
    </figure>
    <ul #menu class='menu open'>
        <li class='menu-item'>
            <a href="#home" class="link"> {{menuItems['home']}} </a>
        </li>
        <li class='menu-item'>
            <a href="#about-us" class="link"> {{menuItems['aboutUs']}} </a>
        </li>
        <li class='menu-item'>
            <a href="#articles" class="link"> {{menuItems['articles']}} </a>
        </li>
        <li class='menu-item'>
            <a href="#vacatures" class="link"> {{menuItems['vacatures']}} </a>
        </li>
        <li class='menu-item'>
            <a href="#applicationProcess" class="link"> {{menuItems['applicationProcess']}} </a>
        </li>
        <li class='menu-item'>
            <a href="#contact" class="link contact"> {{menuItems['contact']}} </a>
        </li>
    </ul>
    <button class='menu-bar' (click)='openBtn(menu, header)'>
        <i class='fa-solid fa-bars icon-bar icon'></i>
    </button>

</header>