@use "../../../variables.scss";

.landing-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba( 0, 0, 0, .3);

    .hero-img{
        width: 100%;
        height: 60rem;
        object-fit: cover;
        z-index: -1;
    }

    .context-container{
        width: 40rem;
        height: 20rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        border-radius: .5rem;
        background: rgba(0,0,0, .5);
        position: absolute;
        left: 5%;
        z-index: 1;

        .menu{

            .list-item{
                display: flex;
                align-items: center;
                list-style: none;
                font-size: 2.5rem;
                color: variables.$h1Color;
                gap: 1rem;
                margin-bottom: 1rem;
            }
        }

        .title{
            color: variables.$h1Color;

        }

        .description{
            color: variables.$h1Color;
        }
    }

    .wrapper{
        width: 100rem;
        height: 5rem;
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen AND (max-width: 78.125rem) { // 1250px

    .landing-page{

        .context-container{
            
        }
    }
}

@media screen AND (max-width: 62.5rem) { // 1000px

    .landing-page{

        .context-container{
            left: unset;
        }
    }
}

@media screen AND (max-width: 50rem) { // 800px

    .landing-page{

        .context-container{

            .title{
                font-size: variables.$mobileH1;
            }

            .menu{

                .list-item{
                    font-size: variables.$mobileText;
                }
            }
        }
    }
}

@media screen AND (max-width: 31.25rem) { // 500px

    .landing-page{

        .context-container{
            width: 33rem;
        }
    }
}

