<section class='landing-page'>
    <img [src]='landingPage["img"]["src"]' [alt]='landingPage["img"]["alt"]' class='hero-img'>
    <figure class='context-container'>
        <h1 class='title'> {{landingPage['title']}} </h1>
        <ul class="menu">
            <li class="list-item">
                <i class="fa-solid fa-chevron-right arrow-right"></i>
                <p class="bullet-point">
                    {{landingPage['bulletPoints']['point1']}}
                </p>
            </li>
            <li class="list-item">
                <i class="fa-solid fa-chevron-right arrow-right"></i>
                <p class="bullet-point">
                    {{landingPage['bulletPoints']['point2']}}
                </p>
            </li>
            <li class="list-item">
                <i class="fa-solid fa-chevron-right arrow-right"></i>
                <p class="bullet-point">
                    {{landingPage['bulletPoints']['point3']}}
                </p>
            </li>
        </ul>
    </figure>
</section>