@use "../../../variables.scss";

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .articles {
        padding: 2rem 0rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .vacatures {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0rem;
        background: #AFDBF5;

        .vacature-container {
            width: 70%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }

    .application-process {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0rem;

        .application-process-container {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            .description {
                width: 100%;
                text-align: center;
                display: block;
            }

            .description-mobile {
                display: none;
            }

            .menu-items {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .list-item {
                    list-style: none;

                    .icon {
                        color: variables.$greenColor;
                        font-size: 300%;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .arrow-right {
                    display: block;
                }

                .arrow-bottom {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 73.4375rem) {

    // 1175px
    .main {
        .vacatures {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 50rem) {

    // 800px
    .main {

        .title {
            font-size: variables.$mobileH1;
        }

        .articles {}

        .application-process {

            .description {}

            .description-mobile {}
        }

    }
}

@media screen and (max-width: 43.75rem) {

    // 700px
    .main {

        .application-process {

            .application-process-container {

                .description {
                    display: none;
                }

                .description-mobile {
                    display: block;
                }

                .menu-items {
                    flex-direction: column;
                    gap: 1rem;

                    .arrow-right {
                        display: none;
                    }

                    .arrow-bottom {
                        display: block;
                    }
                }
            }
        }
    }
}